<app-app-header></app-app-header>

<div class="container">
  <div class="row mt-4 p-2">
    <div class="col-6">
      <h4>Employee List</h4>
    </div>
    <div class="col-6">
      <button class="btn btn-primary float-right" (click)="openAddEmployeeModel(addEmployeeModal)"> Add New</button>
    </div>
  </div>
  <!-- <h2>Striped Rows</h2> -->
  <!-- <p>The .table-striped class adds zebra-stripes to a table:</p> -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Birth date</th>
        <th>Mobile</th>
        <th>City</th>
        <th>Actions</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Firstname</td>
        <td>Lastname</td>
        <td>Birth date</td>
        <td>Mobile</td>
        <td>City</td>
        <td>
          <button type="button" class="close text-right " style="display: inline-block;
          vertical-align: top;  width:45px; color:red" data-toggle="tooltip" title="Delete"
            (click)="openDeleteConfirm(deleteEmployeeTemplate,'employee')">&times;</button>
          <button type="button" class="close mr-2" style="display: inline-block;
          vertical-align: top; width: 20px;font-size: 20px;" data-toggle="tooltip" title="Edit"
            (click)="openEditEmployeeModel(addEmployeeModal,'employee')">Edit</button>

        </td>

      </tr>
    </tbody>
  </table>
</div>
<ng-template #deleteEmployeeTemplate>
  <div class="p-1">
    <div class="modal-header p-1">
      <h2 class="modal-title">Delete employee</h2>
      <button type="button" class="close text-right" data-dismiss="modal"
        (click)="deleteModalRef.hide()">&times;</button>
    </div>


    <div class="modal-body ">
      <p class=" mb--4 text-danger">Are you sure you want to delete </p>
      <small>This action can not be reversed.</small>
    </div>
    <div class="mt-2">
      <button type="button" (click)="deleteEmployee()" style="float: right;"
        class="btn btn-danger btn-sm  mr-2">Delete</button>
      <button type="button" style="float: right;" class="btn btn-primary btn-sm  mr-2"
        (click)="deleteModalRef.hide()">Close</button>
    </div>
  </div>
</ng-template>

<ng-template #addEmployeeModal>
  <div class="p-2">
    <div class="modal-header p-1">
      <h2 class="modal-title">{{ isEdit ? 'Update Employee' : 'Add Employee' }}</h2>
      <button type="button" class="close text-right" data-dismiss="modal" (click)="modalRef.hide()">&times;</button>
    </div>

    <form [formGroup]="employeeForm">
      <div class="modal-body p-2">
        <div class="form-group  ">
          <label>First Name</label>
          <input class=' form-control' type='text' placeholder="First Name" formControlName="firstName">
          <small *ngIf="employeeForm.get('firstName').touched && employeeForm.get('firstName').hasError('required')"
            class="text-danger">First name is required.</small>
        </div>
        <div class="form-group  ">
          <label>Last Name</label>
          <input class=' form-control' type='text' placeholder="Last name" formControlName="lastName">
          <small *ngIf="employeeForm.get('lastName').touched && employeeForm.get('lastName').hasError('required')"
            class="text-danger">Last name is required.</small>
        </div>
        <div class="form-group  ">
          <label>City</label>
          <input class=' form-control' type='text' placeholder="City" formControlName="city">
          <small *ngIf="employeeForm.get('city').touched && employeeForm.get('city').hasError('required')"
            class="text-danger">City is required.</small>
        </div>
        <div class="form-group  ">
          <label>Phone</label>
          <input class=' form-control' type='text' placeholder="Phone" formControlName="phone">
          <small *ngIf="employeeForm.get('phone').touched && employeeForm.get('phone').hasError('required')"
            class="text-danger">Phone is required.</small>
        </div>
        <div class="form-group  ">
          <label> Address</label>
          <textarea class=' form-control' placeholder="Address" rows="3" type='text'
            formControlName="address"></textarea>
          <small *ngIf="employeeForm.get('address').touched && employeeForm.get('address').hasError('required')"
            class="text-danger">Address is required.</small>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary " type="button" (click)="modalRef.hide()">cancel</button>
        <button class="btn btn-primary add-btn " [disabled]="employeeForm.invalid"
          (click)=" isEdit ? updateEmployee() : addEmployee()"
          type="button">{{ isProcessing ? 'Processing...' : 'Save' }}</button>
      </div>
    </form>
  </div>
</ng-template>
